p {   
  margin: 0px;
  font-size: 20px;
  margin: 0px;
  font-size: 20px;
}

h1 {      
  margin: 0px;
  color:rgb(255, 255, 255)
}

body {      
  margin: 0px;
}
a {      
  margin: 0px;
  font-size: 20px;
}

header  {
  text-align: center;
  margin-bottom: 20px;
  color:rgb(244, 79, 79)
  
}
main{
  margin: 10px;
}

#parent{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}


.contents{
  position: absolute;
  border: solid 3px;
  color:rgb(238, 204, 204)  ;
  flex-basis: 25%;
  padding: 10px 15px 10px 15px;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

.content p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97,206,249);
   /* content imgの所確認 */
 }

h2 {      
  font-size: 25px;
  border-bottom-color: rgb(236, 122, 122) ;
  border-bottom-style: dotted;
  
}

h2::before{
  content: "●";
  color:rgb(239, 111, 139) ;
/* 反映済み */
}

.content img {
  margin: 10px 0;
  width: 80%;
  /* content img 書き方あっているのか？ */
}

footer{
  color:rgb(244, 79, 79)  ;
  text-align: center;
}

a{
  color:rgb(255, 255, 255)

}

a:visited {
  color:rgb(193, 234, 251) ;
}
a:hover {
  color: rgb(245, 178, 168);
}


@media screen and (max-width: 768px){
  div {
    display: block
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
}
  
div {
  display: inline-block;
}
