html {
  font-size: 20px;
}
.text-pink {
  color: rgb(255, 192, 203);
}
.pink {
  color: rgb(255, 192, 203);
}

.text-blue {color: skyblue;
  color:skyblue;
}
.blue {color: skyblue;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
h1 {
  font-size: 200%;
  text-align: center;
  letter-spacing: 1.2em;
  text-shadow: 1px 2px 3px #808080; 
}
p.box {
  border-bottom: 1px solid rgb(67, 67, 67);
}

#first-heading {
  color: skyblue;
}
#second-heading {
  color: rgb(255, 192, 203);
}

.google-fonts {
  font-family: 'Josefin Sans', sans-serif;

}